.button {
	align-items: center;
	background-color: var(--light-grey, #dadada);
	border: 0;
	border-radius: 1em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-family: var(--fonts-code, monospace);
	padding: 0.3em 0.8em !important;
}

.iconSpinner {
	color: var(--dark-grey, #666);
}

.load {
	padding-left: 0.5em;
	color: var(--dark-grey, #666);
}
