.button,
.container {
	align-items: center;
	border: 0 !important;
	box-shadow: 0 0 0 0 !important;
	border-radius: 1em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 !important;
}

.button {
	background-color: #2B2E3C !important;
	padding: 0.4em 0.8em !important;
}

.container {
	background-color: #1f1f1f !important;
	padding: 0.1em 0.1em  0.1em 1em !important;
}

.balance,
.address {
	color: #f1f1f1;
	display: inline-block;
	font-weight: 600;
	margin: 0 !important;
	padding-right: 0.5em;
}

.button:hover {
	background-color: #50577C !important;
}

.iconCheck {
	color: #15D015;
}

.iconXmark {
	color: #BF2828;
}
