.button,
.container {
	align-items: center;
	border: 0 !important;
	box-shadow: 0 0 0 0 !important;
	border-radius: 1em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 !important;
}

.button {
	background-color: #E2E2E2 !important;
	padding: 0.4em 0.8em !important;
}

.container {
	background-color: #DADADA !important;
	padding: 0.1em 0.1em  0.1em 1em !important;
}

.balance,
.address {
	color: #3A3A3A;
	display: inline-block;
	font-weight: 600;
	margin: 0 !important;
	padding-right: 0.5em;
}

.button:hover {
	background-color: #FFFFFF !important;
}

.iconCheck {
	color: #15D015;
}

.iconXmark {
	color: #BF2828;
}

.eth {
	padding-left: 0.5rem;
	color: #0098A6;
}
