.button {
	align-items: center;
	background-color: #E2E2E2 !important;
	border: 0 !important;
	border-radius: 1em;
	box-shadow: 0 0 0 0 !important;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 0.5em 1em;
}

.connect {
	color: #3e3e3e;
	display: inline-block;
	font-weight: 600;
	margin: 0 !important;
	text-transform: uppercase;
}

.iconWallet {
	color: #3e3e3e;
	padding-right: 0.5em;
}

.button:hover {
	background-color: #efefef !important;
	transition: all 0.3s ease-in-out;
}
