.button {
	align-items: center;
	background-color: var(--color-primary-400, #f5f5f5);
	border: 0;
	border-radius: 1em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-family: var(--fonts-code, monospace);
	padding: 0.4em 1em !important;
}

.iconSpinner,
.load {
	color: var(--color-grey-100, #f5f5f5);
}

.load {
	padding-left: 0.5em;
}
