.main {
	background-color: var(--dark-grey, #2b2b2b);
	box-shadow: 0px 2px 0px 0px var(--dark-teal, #00a6ff);
	font-family: var(--fonts-primary, "Ubuntu", sans-serif);
}

.container {
	max-width: 1200px;
	margin: auto;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.brandText {
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--light-grey, #f2f2f2);
	padding-right: 1rem;
}

.brandIcon {
	color: var(--light-grey, #f2f2f2);
	margin-right: 0.7rem;
}

.link {
	color: var(--light-grey, #f2f2f2) !important;
	padding: 0.8rem 0.5rem 0.5em 0.5rem !important;
}

.dropdownMenu {
	padding: 0.3rem 0 0 !important;
}

.dropdownMenu * {
	color: var(--light-grey, #f2f2f2) !important;
}

.dropdownLink {
	color: var(--dark-grey, #2b2b2b);
}

.active {
	color: #0953C154 !important;
}

@media (max-width: 400px) {
	.brandText {
		font-size: 1rem;
	}

	.brandIcon {
		font-size: 1.3rem;
	}
}

.navbarToggler {
	box-shadow: none !important;
	border: none !important;
	background-color: var(--dark-grey, #2b2b2b) !important;
	color: var(--light-grey, #f2f2f2) !important;
}

@media (max-width: 324px) {
	.brandText {
		display: none;
	}
}
