.main {
	background-color: var(--light-blue, #00bcd4);
	box-shadow: 0 2px 0 0 var(--dark-teal, #00bcd4);
	font-family: var(--fonts-primary, "Ubuntu", sans-serif);
}

.container {
	max-width: 1200px;
	margin: auto;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.brandText {
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--dark-white, #fff);
	padding-right: 1rem;
}

.brandIcon {
	color: var(--light-white, #fff);
	margin-right: 0.7rem;
}

.link {
	color: var(--light-white, #fff);
	padding: 0.8rem 0.5rem 0.5em 0.5rem !important;
	font-size: 1.2rem;
}

.link:hover {
	color: var(--light-teal, #00bcd4);
}

.navbarToggler {
	border: none;
	box-shadow: none;
	color: var(--light-white, #fff);
	padding: 0;
}

@media (max-width: 400px) {
	.brandText {
		display: none;
	}
}

@media (max-width: 1100px) {
	.link {
		font-size: 1rem;
	}

	.brandText {
		font-size: 1.2rem;
	}
}
