.main {
	color: var(--color-accent-100, #f5f5f5);
	font-family: var(--fonts-code, monospace);
	background-color: var(--color-primary-900, #f5f5f5);
}

.container {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.socialIcon,
.toolsIcon {
	display: inline-block;
	margin: 0 0.3em;
}

.social {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;

}

.social:hover {
	opacity: 0.8;
}

.label {
	padding: 0 0.5em;
}

.labelLinkJoin,
.labelLinkSource {
	color: var(--color-secondary-200, #e0e0e0);
	padding-left: 0.5rem;
	padding-right: 1rem;
}

.labelLink:hover {
	color: var(--color-secondary-800, #e0e0e0);
}

.brandIcon {
	margin: 0 0.5rem;
}

.row1 {
	padding: 0.8rem 0;
	text-align: center;
	width: 100%;
}

.col1,
.col2,
.col3 {
	align-items: center;
	display: flex;
	flex-direction: row;
}

.col1 {
	justify-content: start;
}

.col2 {
	justify-content: start;
}

.col3 {
	justify-content: end;
}

@media (max-width: 1000px) {
	.col1,
	.col2,
	.col3 {
		padding-bottom: 0.5rem;
		justify-content: center;
	}

	.labelLinkJoin {
		padding-right: 0;
	}
}

@media (max-width: 290px) {
	.col1,
	.col2,
	.col3 {
		padding-bottom: 0.3rem;
	}

	.row1 {
		font-size: 0.5rem;
	}
}
