.main {
	background-color: var(--dark-grey, #3e3e3e);
	box-shadow: 0 -2px 0 0 var(--dark-teal, #00bcd4);
	color: var(--dark-teal, #00bcd4);
	font-family: var(--fonts-code, monospace);
}

.container {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-size: 0.8rem;
	justify-content: center;
}

.socialIcon,
.toolsIcon {
	display: inline-block;
	margin: 0 0.3em;
}

.socialIcon {
	height: 1.5em;
	width: 1.5em;
}

.social {
	display: inline-block;
}

.social:hover {
	opacity: 0.8;
}

.label {
	padding: 0 0.3em;
}

.labelLink {
	color: var(--dark-teal, #00bcd4);
	padding: 0 0.3em;
}

.labelLink:hover {
	color: var(--fg-1, #fff);
}

.brandIcon {
	margin: 0 0.5rem;
}

.row1 {
	padding: 0.8rem 0;
	text-align: center;
	width: 100%;
}

@media (max-width: 1000px) {
	.col1,
	.col2,
	.col3 {
		padding-bottom: 0.5rem;
	}
}

@media (max-width: 290px) {
	.col1,
	.col2,
	.col3 {
		padding-bottom: 0.3rem;
	}

	.row1 {
		font-size: 0.5rem;
	}
}
