.copy {
	font-size: 0.8rem;
	color: #fff;
	text-align: center;
	margin-top: 1rem;
}

.notes {
	font-size: 0.8rem;
	color: #fff;
	text-align: center;
	margin-top: 1rem;
}

.facebook {
	font-size: 32px;
}
