.main {
  width: 20%;
}

.controlContainer {
  width: 100%;
  padding: 0 1rem 1rem;
}

.button {
  display: none;
}

.label {
  overflow: hidden;
  display: block;
  border-radius: 1rem;
  padding: 0.3rem 1rem;
  cursor: pointer;
  text-align: center;
  background-color: var(--color-primary-700, #00bcd4);
  border: 1px solid var(--color-primary-500, #46acd8);
  width: 100%;
  color: var(--color-accent-900, #46acd8);
}

.label input.control {
  display: none;
}

.angleDown,
.arrowUpFromBracket {
  vertical-align: middle;
}

.angleDown {
  padding-left: 0.5rem;
}

.arrowUpFromBracket {
  padding-right: 0.5rem;
}

.uploadText {
  font-size: 1rem;
}

@media (max-width: 568px) {
  .upload {
    display: none;
  }

  .control {
    font-size: 0.7rem;
  }

  .button {
    padding: 0.21289rem 1rem;
  }
}
