.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.button {
  border-bottom-right-radius: 0.8rem;
  background-color: var(--color-info-400, #f5f5f5);
  border: 0;
  color: var(--color-grey-100, #f5f5f5);
  max-width: 50%;
  padding: 0.4375rem 1rem;
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--color-info-300, #f5f5f5);
  transition: ease-in-out 0.2s;
}

.control {
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background-color: var(--color-success-900, #f5f5f5);
  color: var(--color-info-200, #f5f5f5);
  border: 1px solid var(--color-info-400, #f5f5f5);
}

.control:hover,
.control:focus,
.control:active {
  box-shadow: none;
  transition: ease-in-out 0.2s;
  background-color: var(--color-info-900, #f5f5f5);
  color: var(--color-info-100, #f5f5f5);
}

.upload {
  padding-left: 0.4rem;
  font-weight: 500;
}

.icon {
  vertical-align: middle;
}

@media (max-width: 568px) {
  .upload {
    display: none;
  }

  .control {
    font-size: 0.7rem;
  }

  .button {
    padding: 0.21289rem 1rem;
  }
}
