.modal {
	align-items: center;
	display: flex;
	justify-content: center;
	background-color: #33333355;
}

.body {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	background-color: var(--color-info-900, #ffffff);
	border-radius: 0.5rem;
	border: 0;
	padding: 1rem;
	width: 35vw;
	height: 45vh;
	position: absolute;
	top: calc(25vh);
}

.content {
	border-radius: 1rem;
	border: 0;
	background-color: transparent;
}

.dialog {
	background-color: transparent;
	border: 0;
	border-radius: 1rem;
}

.header {
	padding: 0.3em 1.2em 0.3em 0.7em;
}

.title {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0;
	color: var(--color-success-200, #00b300);
}

.message {
	letter-spacing: 1px;
	text-align: center;
	margin: 1rem 0;
	width: 85%;
	color: var(--color-success-200, #00b300);
}

.footer {
	background-color: transparent;
	margin-top: 1rem;
}

.spinner {
	margin: 1rem 0;
	color: var(--color-info-400, #00b300);
}

.body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.close {
	background-color: var(--color-grey-200, #fafafa);
	border: none;
	color: var(--color-error-600, #ff0000);
	border-radius: 0.5rem;
}

.close:hover,
.close:focus,
.close:active {
	background-color: var(--color-error-500, #ff0000);
}

.error {
	color: var(--color-error-400, #ff0000);
}

.success {
	color: var(--color-success-400, #00b300);
}

.info {
	color: var(--color-info-400, #00b300);
}

.warn {
	color: var(--color-warning-400, #ff0000);
}
