.modal {
  background-color: #33333348;
}

.content {
  background: transparent;
  border: 0;
  bottom: 0;
  box-shadow: none;
  display: table;
  left: 0;
  margin: auto;
  max-width: fit-content;
  min-width: 25%;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.body {
  background-color: var(--color-info-900, #ffffff);
  border: 0;
  border-radius: 0.5rem;
  box-shadow: -8px 0 0 0 var(--color-success-400, #00ff00);
  display: table-cell;
  margin: auto;
  padding: 1rem;
  text-align: center;
}

.header {
  color: var(--color-success-300, #00ff00);
  margin: 0;
  padding: 0.3em 1.2em 0.3em 0.7em;
  display: block;
  font-size: 1.4rem;
  text-align: center;
}

.message {
  color: var(--color-success-500, #00ff00);
  letter-spacing: 1px;
  margin: 0.5rem;
  font-size: 1rem;
  display: block;
  text-align: center;
}

.footer {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 0;
  width: 100%;
}

.icon {
  color: var(--color-success-300, #00b300);
}

.close {
  background-color: var(--color-error-900, #ff0000);
  border: none;
  border-radius: 0.5rem;
  color: var(--color-error-600, #ff0000);
}

.close:hover,
.close:focus,
.close:active {
  background-color: var(--color-error-600, #ff0000);
}

.action {
  background-color: var(--color-success-400, #00a699);
  border: none;
  border-radius: 0.5rem;
  box-shadow: none;
}

.action:hover,
.action:active,
.action:focus {
  background-color: var(--color-success-300, #00a699);
  box-shadow: none;
}

@media (max-width: 468px) {
  .content {
    min-width: 80%;
    max-width: 80%;
  }

  .header {
    font-size: 1rem;
  }

  .message {
    font-size: 0.7rem;
  }

  .close,
  .action {
    font-size: 0.8rem;
  }
}
