.main {
	align-items: center;
	display: flex;
	justify-content: center;
}

.body {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.header {
	padding: 0.3em 1.2em 0.3em 0.7em;
}

.title {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0;
	color: #3e3e3e;
}

.icon {
	margin-bottom: 1.4rem;
	size: 4rem;
	vertical-align: middle;
}

.fail {
	color: #DC3545;
}

.success {
	color: #28A745;
}

.titleIcon {
	margin-right: 0.6rem;
	vertical-align: middle;
}

.titleText {
	color: #3e3e3e;
	padding-bottom: 0.15rem;
}
