.main {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: 10%;
}

.title {
	color: var(--dark-blue, #2b2b2b);
	font-size: 1.2rem;
	margin-top: 1rem;
	text-align: center;
}

.footer {
	margin-top: 2rem;
	align-items: center;
	display: flex;
	justify-content: center;
}

.spinner {
	margin: 1rem 0;
	color: var(--dark-teal, #0D6EFD);
}

.body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
