.main {
	text-align: center;
}

.mainHeader {
	font-weight: 600;
	margin-bottom: 1rem;
	text-align: center;
	color: #3f3f3f54;
}

.assistantHeader {
	font-weight: 500;
	margin-bottom: 2rem;
	text-align: center;
	color: #3f3f3f54;
}

.description {
	font-size: 1.2rem;
	margin-bottom: 1rem;
	text-align: center;
	color: #3f3f3f54;
}

.plusIcon {
	padding: 0 0.5rem;
	color: green;
}

.mainHeaderIcon {
	display: inline-block;
	text-align: center;
	margin: 1rem 0;
	color: #3f3f3f54;
}
