.main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  color: var(--color-accent-300, #ffffff);
  font-weight: 500;
  margin-bottom: 1rem;
  opacity: 0.6;
}

.messageContainer {
  color: var(--color-primary-400, #ffffff);
  font-size: 1.2rem;
  margin: 2rem 0;
  text-align: center;
}

.arrow {
  padding: 0 0.6rem;
  color: var(--color-accent-300, #ffffff);
}

.icon {
  color: var(--color-accent-400, #ffffff);
  display: inline-block;
  margin: 1rem 0;
  text-align: center;
  opacity: 0.5;
}

.descriptionText {
  color: var(--color-accent-200, #ffffff);
  font-size: 1.2rem;
  margin: 1rem 0;
  text-align: center;
  opacity: 0.8;
}

@media (max-width: 368px) {
  .icon {
    font-size: 2.5rem;
  }

  .header {
    font-size: 1.5rem;
  }

  .descriptionText {
    font-size: 1rem;
  }
}
