.main {
  text-align: center;
}

.mainHeader {
  color: var(--color-grey-600, #f5f5f5);
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
}

.description {
  color: var(--color-grey-600, #f5f5f5);
  font-size: 1.2rem;
  margin: 2rem 0;
  text-align: center;
}

.arrow {
  padding: 0 0.5rem 0 0.3rem;
}

.mainHeaderIcon {
  color: var(--color-grey-600, #f5f5f5);
  display: inline-block;
  margin: 1rem 0;
  text-align: center;
}
