.main {
	text-align: center;
}

.mainHeader {
	font-weight: 500;
	margin-bottom: 1rem;
	text-align: center;
	color: var(--dark-grey, #666);
}

.description {
	font-size: 1.2rem;
	margin: 2rem 0;
	text-align: center;
	color: #ADADAD;
}

.arrow {
	padding: 0 0.5rem 0 0.3rem;
}

.mainHeaderIcon {
	display: inline-block;
	text-align: center;
	margin: 1rem 0;
	color: var(--dark-grey, #666);
}
