.container {
  padding: 0 1rem;
  height: 50vh;
  margin: calc(50vh/2) auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #F0F8FF; */
  border-radius: 10px;
  /* box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.1); */
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0 0 2rem 0;
  line-height: 1.15;
  font-size: 7rem;
  color: #0070f3;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 1rem 0 0;
  line-height: 1.5;
  font-size: 1.8rem;
  color: #0070f3;
  text-transform:capitalize;
  font-variant: small-caps;
}

@media (max-width: 400px) {
  .title {
    font-size: 6rem;
  }
  .description {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 9rem;
  }
}

@media (min-width: 992px) {
  .title {
    font-size: 12rem;
  }

  .description {
    font-size: 2.5rem;
  }
}
