html,
body {
  padding: 0 !important;
  margin: 0 !important;
  font-family: BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

a {
  text-decoration: none !important;
}

* {
  box-sizing: border-box !important;
}
