/* This changes all the animations globally */
/* colors palette */
:root {
  --primary: #2F80ED;
  --secondary: #DEDEDE;
  --light-teal: #b2ebf2;
  --dark-teal: #00796b;
  --light-aqua: #689D6A;
  --dark-aqua: #427B58;
  --light-blue: #458588;
  --dark-blue: #076678;
  --light-purple: #B16286;
  --dark-purple: #8F3F71;
  --light-pink: #f06292;
  --dark-pink: #c2185b;
  --light-orange: #ff8a65;
  --dark-orange: #ff5722;
  --light-yellow: #D79921;
  --dark-yellow: #B57614;
  --light-ivory: #fffaf0;
  --dark-ivory: #f5f5f5;
  --light-brown: #795548;
  --dark-brown: #5d4037;
  --light-green: #98971A;
  --dark-green: #79740E;
  --light-black: #212121;
  --dark-black: #000000;
  --light-white: #ffffff;
  --dark-white: #fafafa;
  --light-red: #CC241D;
  --dark-red: #9D0006;
  --light-gold: #ffd600;
  --dark-gold: #ffb300;
  --light-grey: #E9ECEF;
  --dark-grey: #CED4DA;
}

:root {
  --fonts-primary: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --fonts-secondary: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, serif;
  --fonts-code: monospace;
}

:root {
  --bg-0: #F8F9FE;
  --bg-1: #FBF1C7;
  --bg-2: #EBDBB2;
  --bg-3: #D5C4A1;
  --bg-4: #BDAE93;
  --bg-5: #A89984;
  --bg-6: #928374;
  --fg-0: #282828;
  --fg-1: #3C3836;
  --fg-2: #504945;
  --fg-3: #665C54;
  --fg-4: #7C6F64;

}

html,
body {
  background-color: var(--light-grey, #cfd8dc);
  color: var(--dark-black, #000000);
  padding: 0;
  margin: 0;
  font-family: var(--fonts-primary, "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif);
}

a {text-decoration: none;}

* {box-sizing: border-box;}

.nav-link:focus, .nav-link:hover {
    color: var(--light-teal, #b2ebf2);
}
a:hover {
    color: var(--light-teal, #b2ebf2);
}
