.main {
  min-height: calc(100vh - 130px);
  padding: 2rem 1rem;
}

.container {
  text-align: center;
  max-width: 768px;
  margin: 4rem auto 0;
}

.header {
  margin: auto;
}

.headerTitle {
  font-size: 3rem;
  font-weight: 1000;
  font-family: "Roboto", sans-serif;
  color: #2f2f2f;
  margin-bottom: 2rem;
}

.headerDetails {
  color: #666;
  font-size: 1.3rem;
  margin: 0;
}

.getStarted {
  background-color: #ffffff;
  border: 0 !important;
  font-weight: 600;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  box-shadow: 0 0 5px 0 #cccccc;
  color: #2f2f2f;
  padding: 0.4rem 1.4rem;
  margin-top: 2rem;
}

.getStarted:hover {
  background-color: #6366F113;
  color: #000000;
  box-shadow: 0 0 10px 0 #cccccc;
  border: 0 !important;
  transition: ease-in-out 0.2s;
}
