.main {
  min-height: calc(100vh - 139.59px);
  padding: 2rem 1rem;
  background: var(--color-primary-300, #fafafa);
  background: linear-gradient(
    180deg,
    var(--color-primary-300, #fafafa) 0%,
    var(--color-primary-900, #f5f5f5) 100%
  );
}

.container {
  text-align: center;
  max-width: 950px;
  margin: 2.5rem auto 0;
}

.header {
  margin: auto;
}

.decentralized {
  color: var(--color-secondary-700, #00a699);
  margin-bottom: 1rem;
}

.selfHosted {
  color: var(--color-accent-800, #f5f5f5);
  margin-bottom: 1rem;
}

.encrypted {
  color: var(--color-info-600, #00a699);
  margin-bottom: 1rem;
}

.headerTitle {
  font-size: 4rem;
  font-weight: 1000;
  font-family: "Roboto", sans-serif;
  color: var(--color-grey-200, #fff);
  margin-bottom: 2rem;
}

.headerDetails {
  color: var(--color-grey-100, #666);
  font-weight: 600;
}

.getStarted {
  background-color: var(--color-primary-500, #00a699);
  border: 0;
  border-radius: 0.3rem;
  color: var(--color-grey-100, #fff);
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 2rem;
  padding: 0.5rem 1.8rem;
}

.getStarted:hover {
  background-color: var(--color-primary-400, #00a699);
  transition: ease-in-out 0.2s;
}

@media (max-width: 768px) {
  .headerTitle {
    font-size: 3rem;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
    margin-bottom: 1.5rem;
  }

  .headerDetails {
    font-size: 1rem;
    margin: 0;
  }
}

@media (max-width: 400px) {
  .headerTitle {
    font-size: 1.5rem;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
    margin-bottom: 1.5rem;
  }

  .headerDetails {
    font-size: 0.8rem;
    margin: 0;
  }
}
