.main {
  min-height: calc(100vh - 112.78px);
  padding: 2rem 1rem;
}

.container {
  text-align: center;
  max-width: 950px;
  margin: 2.5rem auto 0;
}

.header {
  margin: auto;
}

.headerTitle {
  font-size: 4rem;
  font-weight: 1000;
  font-family: "Roboto", sans-serif;
  color: #2f2f2f;
  margin-bottom: 2rem;
}

.headerDetails {
  color: #666;
  font-size: 1.3rem;
  margin: 0;
}

.getStarted {
  background-color: #2CA2A2;
  border: 0 !important;
  font-weight: 600;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  box-shadow: 0 0 5px 0 #cccccc;
  color: #ffffff;
  padding: 0.5rem 1.8rem;
  margin-top: 1.5rem;
  margin: 2rem 0 !important;
}

.getStarted:hover {
  background-color: #118787;
  box-shadow: 0 0 20px 0 #2CA2A285;
  border: 0 !important;
  transition: ease-in-out 0.2s;
}

@media (max-width: 768px) {
  .headerTitle {
    font-size: 3rem;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
    color: #2f2f2f;
    margin-bottom: 1.5rem;
  }

  .headerDetails {
    color: #666;
    font-size: 1rem;
    margin: 0;
  }
}

@media (max-width: 400px) {
  .headerTitle {
    font-size: 1.5rem;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
    color: #2f2f2f;
    margin-bottom: 1.5rem;
  }

  .headerDetails {
    color: #666;
    font-size: 0.8rem;
    margin: 0;
  }
}
