.main {
  min-height: calc(100vh - 139.59px);
  padding: 2rem 1rem;
}

.searchUpload {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.container {
  padding-bottom: 1em;
}

@media (max-width: 990px) {
  .main {
    min-height: calc(100vh - 170.78px);
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .searchUpload {
    flex-direction: column;
  }
}
