.name {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: start;
	width: 100%;
}

.tdName {
	max-width: 12rem;
}

.nameText {
	font-size: 1em;
	color: var(--color-grey-900, #666666);
	font-weight: 500;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tdSize {
	max-width: 8rem;
}

.size {
	font-size: 1em;
	color: var(--color-grey-900, #666666);
	font-weight: 500;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}

.tdTime {
	max-width: 6rem;
}

.time {
	font-size: 1em;
	color: var(--color-grey-900, #666666);
	font-weight: 500;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}

.tdAction {
	max-width: 6rem;
	text-align: center;
}

.iconMime {
	color: var(--color-success-200, #00a699);
	padding-right: 1rem;
}

.tableBody {
	vertical-align: middle !important;
}

.tableHeader {
}

.headerText {
	font-size: 1em;
	color: var(--color-grey-900, #666666);
	font-weight: 600;
	padding: 0;
}

.sortIcon {
	color: var(--color-grey-900, #666666);
	padding-left: 1rem;
}

.tableRow:hover {
	background-color: var(--color-primary-800, #00a699);
}

.action button {
	border-radius: 0.4rem;
	padding: 0.3rem 1rem;
	color: var(--color-grey-900, #666666);
	border: 0;
	background-color: var(--color-grey-200, #fafafa);
}

.action button:hover {
	color: var(--color-grey-900, #666666);
	background-color: var(--color-grey-100, #fafafa);
	box-shadow: 0  0 0 1px #66666654;
}

.downloadText {
	padding: 0;
}

.downloadIcon {
	color: var(--color-grey-900, #666666);
	padding-left: 0.8rem;
}

@media (max-width: 768px) {
	.tdSize,
	.tdTime,
	.thSize,
	.thTime {
		display: none;
	}
}

@media (max-width: 916px) {
	.downloadText {
		display: none;
	}

	.downloadIcon {
		padding-left: 0;
	}
}
