.tdName {
  max-width: 12rem;
}

.tdSize {
  max-width: 8rem;
}

.tdTime {
  max-width: 6rem;
}

.tdDownload {
  max-width: 6rem;
  text-align: right;
}

.tdAction {
  max-width: 2rem;
  text-align: right;
}

.tdName,
.tdSize,
.tdTime,
.tdType,
.tdActions,
.tdDownload {
  vertical-align: middle;
}

.headerText {
  color: var(--color-primary-300, #d9d9d9);
  font-size: 1em;
  font-weight: 600;
  padding: 0;
}

.name {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 100%;
}

.nameText {
  color: var(--color-primary-400, #d9d9d9);
  font-size: 1em;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.size {
  color: var(--color-primary-400, #d9d9d9);
  font-size: 1em;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.time {
  color: var(--color-primary-400, #d9d9d9);
  font-size: 1em;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.sortIcon {
  color: var(--color-primary-500, #d9d9d9);
  padding-left: 1rem;
}

.tableRow:hover {
  box-shadow: 0 0 0 1px var(--color-primary-500, #d9d9d9);
  border-radius: 0.5rem;
  transition: box-shadow 0.2s ease-in-out;
}

.download button {
  background-color: var(--color-grey-200, #fafafa);
  border: 0;
  border-radius: 0.4rem;
  color: var(--color-grey-900, #666666);
  padding: 0.3rem 1rem;
}

.download button:hover {
  background-color: var(--color-grey-100, #fafafa);
  box-shadow: 0 0 0 1px #66666654;
  color: var(--color-grey-900, #666666);
}

.downloadText {
  padding: 0;
  color: var(--color-primary-300, #00a699);
}

.downloadIcon {
  color: var(--color-primary-300, #00a699);
  padding-left: 0.8rem;
}

.actionIcon {
  font-size: 1.7rem;
  padding: 0;
  margin: 0;
  color: var(--color-primary-300, #00a699);
}

.actionButton {
  border: 0;
  background-color: var(--color-grey-200, #fafafa);
  box-shadow: none;
  padding: 0.1rem 1rem;
  border-radius: 100%;
}

.actionButton:hover,
.actionButton:focus,
.actionButton:active {
  background-color: var(--color-grey-100, #fafafa);
  box-shadow: 0 0 0 1px #66666654;
  color: var(--color-grey-900, #666666);
}

@media (max-width: 768px) {
  .tdSize,
  .tdTime,
  .thSize,
  .thTime {
    display: none;
  }
}

@media (max-width: 999px) {
  .downloadText {
    display: none;
  }

  .downloadIcon {
    padding-left: 0;
  }

  .tdName {
    max-width: 6rem;
  }
}
